#about{style: 'padding-top: 100px;' }
  .headline
    About
  .row
    .col-md-10
      %h2
        My name is John Bernier and I am a Software Engineer based out of New York City. 
        I am currently employed by 
        = link_to "Gust", "https://www.gust.com"
        as a full stack web developer. I work mostly
        with Ruby, Rails, JavaScript, and PostgreSQL. In my spare time, I enjoy
        writing music, playing guitar, rock climbing, and cooking.

