#blog.container.full-screen{style: 'padding-top: 100px;' }
  = render 'titlizer', title: 'Blog'
  .row
    .col-md-10
      %h2
        No entries yet. My first post will be about creating a Virtual Machine in JavaScript.
        I will show how to go from reading bits and bytes to writing a simple "Hello World" program.
        Stay Tuned!
