#home.container.text-center.full-screen
  %div{ style: 'margin-top: 40vh;' }
    .headline 
      John Bernier
    .small-headline
      - nav_links[0..-2].each do |link|
        = link_to *link
        = '|'
      = link_to *nav_links[-1]
