.home-icon {
  padding-left: 90px;
  letter-spacing: -3px;
  font-size: 64px;
  a, u {
    text-decoration: none;
  }
}

.headline {
  font-variant: small-caps;
  font-size: $titlized-large-font-size;
}
  
.small-headline-span {
  font-size: $small-headline-font-size;
  padding-right: $medium-spacing;
}

.small-headline {
  font-size: $small-headline-font-size;
}
