.home-icon {
  padding-left: $medium-spacing;
  letter-spacing: -3px;
  font-size: 64px;
}

.titlize-first-letter {
  letter-spacing: -11px;
  font-size: 64px;
}

.titlize-word {
  letter-spacing: -4px;
  font-size: 40px;
}
